@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    
    font-family: 'Roboto', sans-serif;
}
/* --------------
   start manu 
   -------------- */
.start-manu{
    display: flex;
    padding-top: 5%;
    color: #363434;   
}
p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2%;
}
h1{
    font-size: 50px;
}
.first-section{
    padding-left: 6%;
}
a{
    background-color: #5a144e;
    text-decoration: none;
    
    padding: 10px 30px;
    border-radius: 20px;
    color: #ffffff;
}
hr{
    border: 1px solid gray;
    width: 90%;
}
/* ----------------------
    second section 
   ----------------------*/
.second-section{
    border: 1px solid #000000;
    width: 320px;
    height: 450px;
    padding-left: 20px;
    padding-top: 4%;
    box-shadow: 2px 20px rgb(223, 223, 223);

}
h2{
    text-align: center;
}
.product-item{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    padding-left: 15%;
    padding-right: 10%;
    
}
.fa-star{
    color: orange;
    font-size: 15px;
}
.rating{
    display: flex;
    align-items: center; 
}
span{
    margin-left: 18px;
    font-size: 15px;
}
.stor{
    color: rgb(14, 117, 19);
    font-size: 20px;
    
}

